<div class="container login">
  <div class="logo">Footprints</div>
  <%= link_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path, :class => 'button primary' %>
  <%= link_to 'Create a New Google Account', 'https://accounts.google.com/SignUpWithoutGmail', :class => 'button secondary' %>
</div>

