<div id='offer-letter-form'>
  <div id='dialog-form' title='Generate Offer Letter' autofocus>
    <div id='modal-errors'></div>
      <p>This applicant has no location.</p>
      <p>No offer letter can be generated in that case.</p>
  </div>
</div>
