<p><%= @craftsman.first_name %>,</p>

<p>This is a friendly reminder to respond to the request you were sent about <%= @applicant.name %>, a <%= @applicant.skill %> apprentice applicant.</p>

<p>Please visit your <%= link_to "Dashboard", root_url, {:style => "color: #45ada8"} %> as soon as possible and respond or we will continue sending you this reminder until the end of time.</p>

<p>Thanks!</p>

<p>The Footprints Team</p>
