<p>Hey Ryan,</p>

<p>Footprints tried to assign <%= @applicant.name %> but something went wrong! Here is the error (<%= @error.class %>):</p>

<p>&quot;<%= @error.message %>&quot;</p>

<p>Thanks!</p>

<p>The Footprints Team</p>

<pre>
Backtrace:
<%= @error.backtrace %>
</pre>
