<body style="margin: 0; padding: 0;">
  <table>
    <tr>
      <td style="color: #333; font-family: Arial, sans-serif; font-size: 14px;">
        Hi <%= @prev_craftsman.first_name %>,

        <p><%= @applicant.name %> has been re-assigned to <%= @new_craftsman.name %>.</p>
        <p>Please reach out to <%= @new_craftsman.first_name %> if you have any questions.</p>

        <p>Thanks! <br><br> The Footprints Team</p>

      </td>
    </tr>
  </table>
</body>
