<p>Ryan,</p>

<p>It's been four days since we asked <%= @craftsman.name %> to be the steward for <%= @applicant.name %>. Please <%= mail_to @craftsman.email, "email them", {:style => "color: #45ada8"} %> to follow-up.</p>

<p>Thanks!</p>

<p>The Footprints Team</p>
