development:
  adapter: mysql2
  database: footprints
  username:
  password:
  host: localhost
  port: 9393

local:
  adapter: mysql2
  database: footprints
  username:
  password:
  host: localhost
  port: 9393

test:
  adapter: mysql2
  database: footprints_test
  username:
  password:
  host: localhost
  port: 9393
